.desc_container{
    width: 90%;
    height:80%;
    position:fixed;
    background-color: grey;
    border-radius: 2em;
    z-index: 15;
    margin-left: 5%;

    .button{
        background-color: rgb(141, 141, 141);
        position: absolute;
        border-radius: 5em;
        border-style: outset;
        border-width: 0.1em;
        border-color: aqua;
        width:3em;
        height:3em;
        z-index: 25;

        &:hover{
            background-color: grey;
        }
        &:active{
            border-style: inset;
            background-color: rgb(99, 99, 99);
        }
    }
    #button_L{
        left:0;
        top:50%;
    }
    #button_R{
       right:0;
       top:50%;
    }
    #button_exit{
        right:0;
    }

}