.navigation{
    margin: 50px 0;
    display: flex;
    

    a{
        // margin: 10px;
        top:0;
        left:20px;
        // padding: 10px;
        position: fixed;
        color: var(--color-4);
        
    }
    .nav-active{
        &::after{
            content:"";
            height: 2px;
            background: var(--color-4);
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }

}