.projects{
    // height:20px;
    // overflow: none;
    width:100%;
    // justify-content: center;
    
    .sort-container{
        display:flex;
        // grid-template-columns: 20% 80%;
        // padding: 8px;
        // border-radius: 15px;
        // background: $color-3;
        // color: $color-1;
        // box-shadow: 0 2px 2px rgba(51,51,51,0.3);
        z-index: 25;
        position: relative;
        top:-50px;
        width:100%;
        justify-content: center;
        font-size: 1em;

        ul {
            display: flex;
            justify-content: space-around;
            
            
            

            input[type="radio"]{
                transform: translate(-5px, 1px);
                // width: 1em;
                // height: 1em;
                
            }
        }
        li{
            background: var(--color-3);
            padding: 8px;
            margin-left: 8px;
            color: var(--color-2);
        }
        li:hover{
            background: var(--color-4);
        }
    }
    @media only screen and (max-width: 700px) {
        /* For mobile phones: */
        .sort-container{
            font-size: 0.8em;
            // height:50px;
            li{
                padding: 2px;
                margin-left: 8px;
                margin-right: 0px;
            }

            ul{
            input[type="radio"]{
                transform: translate(-0.5px, 0px);
                width: 0.5em;
                height: 0.5em;
                // visibility: hidden;
                
            }
        }

        }
        
        
 }
    .cancel{
        // position: fixed;
        margin: -40px auto 0px;
        width:10%;
        height: 5%;
        z-index: 80;
        color: var(--color-4);

        h5{
            border:1px var(--color-3) solid;
            text-align: center;
            width:180px;
            margin: 0 auto;
            border-radius: 10px;
            transition: 0.3s;
            cursor: pointer;
            

            &:hover{
                background: var(--color-3);
                border-color: var(--color-3);
                color: var(--color-2);
            }
    
        }
    
    }

    .projects-list{
        display: flex;
        flex-wrap: wrap;
        transition: all 1s;
        width:100%;
        justify-content: center;
        // background: $color-3;
        
    }
    .projects-list.select{
        animation-name: opening;
        animation-duration: 1s;
        overflow: auto;
        animation-fill-mode: forwards;
        position:fixed;
        // animation-delay: 2s;
        // animation-iteration-count: 3;

    }
    
    .projects-list.deselect{
        animation-name: opening;
        animation-duration: 1s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }

    @keyframes opening {
        0%   {width:100%;}
        25%  {width:100%;opacity:0;}
        50%  {opacity:0;width:20%;height:100%;}
        100% {opacity:1;width:20%;height:100%;}
      }

      @media only screen and (max-width: 700px) {
        .projects-list.select{
            visibility: hidden;
            display: none;
        }
        .cancel.select{
            display: none;
        }
    }

}
